/* Tag Selector*/

body{
  font-family: "Montserrat", sans-serif;
}

h1{
  text-align: left;
}

h2{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
}

/*class selector */
.headline{
line-height: 1.5;
font-size: 3rem;
font-weight: 900;
}

.container-fluid{
  padding: 3% 15%
}


.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu"
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
}

.nav-item{
  padding: 0px 18px
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}



.col-lg-6{
  height:28.37rem;
}

.download-btn{
  margin: 5% 3% 5% 0%;
}

.dog-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


#features{
  background-color: white;
  position:relative;
}

.feature-div{
  padding: 7% 15%;
  text-align: center;
}

.feature-description{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.feature-detail{
  color: #8f8f8f;
}

.feature-icon{
  color: #ef8172;
  font-size: 3.75rem;
  padding-bottom: 1rem;
}

.feature-icon:hover{
  color: #ff4c68;
}

/* Id selector */
#title{
  background-color: #ff4c68;
    color: white;
}


/* Testimonials section */
#testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: white;
}

.testimonial-img{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}


#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin: 20px 20px 20px 50px;
}

.carousel-inner{
  padding: 7% 15%;
}

/*Card Deck */
#pricing{
padding: 100px;
text-align: center;
}

.card-deck{
}

.pricing-column{
  padding: 3% 2%;
}
